$fa-font-path: '../fonts';
$bg-color: #00bcd4;
$form-text: #333;
$information-input-border: #00bcd4;
$information-input-shadow: #00bcd4;
$input-border: rgba(0, 0, 0, .2);
$input-shadow: rgba(0, 0, 0, .2);